# Ignore everything
*

!.gitignore

!package.json
!package-lock.json
!biome.json
!.vscode/
!.vscode/settings.json

# Allow these
!aerospace/
!aerospace/aerospace.toml
!aerospace/old.aerospace.toml

!borders/
!borders/bordersrc

!karabiner/
!karabiner/karabiner.json

!ahk/
!ahk/**

!kanata/
!kanata/kanata.kbd
!kanata/kanata.sh
!kanata/kanata.ps1

!ghostty/
!ghostty/config
!ghostty/themes/
!ghostty/themes/**

!nvim/
!nvim/init.lua
!nvim/colors/
!nvim/colors/**

!opencode/
!opencode/opencode.json
!opencode/opencode.jsonc
!opencode/tui.json
!opencode/tui.jsonc
!opencode/opencode.png

!opencode/agent/
!opencode/agent/**

!opencode/commands/
!opencode/commands/**

!opencode/plugins/
!opencode/plugins/**

!opencode/themes/
!opencode/themes/**


# Scripts
!scripts/
!scripts/setup-file-associations.sh
!scripts/mbp-mode.ts
!scripts/mac-install.sh
!scripts/mac-uninstall.sh
!scripts/win-install.ps1
!scripts/win-uninstall.ps1
!scripts/raycast-scripts/
!scripts/raycast-scripts/toggle-ghostty-quick-terminal.sh

!custom-themes/
!custom-themes/create/
!custom-themes/create/**
!custom-themes/output/
!custom-themes/output/**
!custom-themes/vsce-package/
!custom-themes/vsce-package/**

!zed/
!zed/keymaps.json
!zed/settings.json

.DS_Store
**/.DS_Store
