# Ignore everything
*

!.gitignore

# root files
!package.json
!package-lock.json
!biome.json
!.vscode/
!.vscode/settings.json

# aerospace
!aerospace/
!aerospace/aerospace.toml

# borders
!borders/
!borders/bordersrc

# karabiner
!karabiner/
!karabiner/karabiner.json

# ghostty
!ghostty/
!ghostty/config
!ghostty/themes/
!ghostty/themes/**

# tmux
!tmux/
!tmux/tmux.conf

# nvim
!nvim/
!nvim/init.lua
!nvim/colors/
!nvim/colors/**

# opencode
!opencode/
!opencode/opencode.json
!opencode/opencode.jsonc
!opencode/tui.json
!opencode/tui.jsonc
!opencode/opencode.png

!opencode/agent/
!opencode/agent/**

!opencode/commands/
!opencode/commands/**

!opencode/plugins/
!opencode/plugins/**

!opencode/themes/
!opencode/themes/**


# Scripts
!scripts/
!scripts/mac-only/
!scripts/mac-only/**
!scripts/setup-file-associations.sh
!scripts/mac-only/mac-power-mode.ts
!scripts/mac-install.sh
!scripts/mac-uninstall.sh
!scripts/vscode-install.sh
!scripts/mac-only/
!scripts/mac-only/cursor/
!scripts/mac-only/cursor/cursor-staged-editing.sh
!scripts/mac-only/zen-switcher/
!scripts/mac-only/zen-switcher/**
!scripts/mac-only/toggle-ghostty-quick-terminal.sh
!scripts/mac-only/zoom-all-window.sh

# launchd
!launchd/
!launchd/com.garrett.cursor-staged-editing-watch.plist

# custom-themes
!custom-themes/
!custom-themes/create/
!custom-themes/create/**
!custom-themes/output/
!custom-themes/output/**
!custom-themes/vsce-package/
!custom-themes/vsce-package/**

# vscode-extensions
!vscode-extensions/
!vscode-extensions/**
vscode-extensions/**/node_modules/
vscode-extensions/**/node_modules/**

# zed
!zed/
!zed/keymaps.json
!zed/settings.json

# misc
.DS_Store
**/.DS_Store
