:root {
	--name: "gtheme";
	--display-name: "gtheme";
}

:root[data-theme="dark"] {
	--background: #1e1e1e;
	--background-panel: #2c2c2e;
	--background-element: #1e1e1e;
	--foreground: #d9daec;
	--foreground-muted: #7c7d8d;
	--border: #2c2c2e;
	--border-active: #2c2c2e;
	--primary: #83a598;
	--secondary: #8ec07c;
	--accent: #fabd2f;
	--error: #cc241d;
	--warning: #af3b02;
	--success: #b8bb26;
	--info: #458588;
	--selection-background: #7c7d8d;
	--selection-foreground: #d9daec;
	--cursor: #d9daec;
	--syntax-comment: #7c7d8d;
	--syntax-keyword: #cc241d;
	--syntax-function: #8ec07c;
	--syntax-method: #8ec07c;
	--syntax-string: #b8bb26;
	--syntax-number: #bb627a;
	--syntax-type: #fabd2f;
	--syntax-variable: #83a598;
	--syntax-operator: #8ec07c;
	--syntax-punctuation: #cec7ba;
}

:root[data-theme="light"] {
	--background: #ffffff;
	--background-panel: #f4f4f9;
	--background-element: #ffffff;
	--foreground: #101316;
	--foreground-muted: #7c7d8d;
	--border: #d1d1d6;
	--border-active: #7c7d8d;
	--primary: #5f8f8e;
	--secondary: #5a8d60;
	--accent: #c99824;
	--error: #a2261f;
	--warning: #c36a10;
	--success: #8b9120;
	--info: #4f7f83;
	--selection-background: #7c7d8d;
	--selection-foreground: #101316;
	--cursor: #050607;
	--syntax-comment: #7c7d8d;
	--syntax-keyword: #a2261f;
	--syntax-function: #5a8d60;
	--syntax-method: #5a8d60;
	--syntax-string: #8b9120;
	--syntax-number: #ad6e88;
	--syntax-type: #c99824;
	--syntax-variable: #5f8f8e;
	--syntax-operator: #6fa05a;
	--syntax-punctuation: #33302e;
}
