:root {
  --name: "gtheme";
  --display-name: "gtheme";
}

:root[data-theme="dark"] {
  --background: #101316;
  --background-panel: #262838;
  --background-element: #101316;
  --foreground: #D9DAEC;
  --foreground-muted: #656675;
  --border: #262838;
  --border-active: #C6C7D8;
  --primary: #83A598;
  --secondary: #689D6A;
  --accent: #FABD2F;
  --error: #CC241D;
  --warning: #D79921;
  --success: #B8BB26;
  --info: #458588;
  --selection-background: #262838;
  --selection-foreground: #D9DAEC;
  --cursor: #D9DAEC;
  --syntax-comment: #7F858B;
  --syntax-keyword: #FB4934;
  --syntax-function: #8EC07C;
  --syntax-method: #689D6A;
  --syntax-string: #B8BB26;
  --syntax-number: #D3869B;
  --syntax-type: #FABD2F;
  --syntax-variable: #83A598;
  --syntax-operator: #8EC07C;
  --syntax-punctuation: #cec7ba;
}

:root[data-theme="light"] {
  --background: #F4F4F9;
  --background-panel: #FDFDFD;
  --background-element: #D9DAEC;
  --foreground: #101316;
  --foreground-muted: #656675;
  --border: #C6C7D8;
  --border-active: #262838;
  --primary: #5F8F8E;
  --secondary: #5A8D60;
  --accent: #C99824;
  --error: #BE2F27;
  --warning: #C36A10;
  --success: #8B9120;
  --info: #4F7F83;
  --selection-background: #D9DAEC;
  --selection-foreground: #101316;
  --cursor: #050607;
  --syntax-comment: #797567;
  --syntax-keyword: #C43B2D;
  --syntax-function: #6FA05A;
  --syntax-method: #5A8D60;
  --syntax-string: #8B9120;
  --syntax-number: #AD6E88;
  --syntax-type: #C99824;
  --syntax-variable: #5F8F8E;
  --syntax-operator: #6FA05A;
  --syntax-punctuation: #33302e;
}
