:root {
  --name: "gtheme";
  --display-name: "gtheme";
}

:root[data-theme="dark"] {
  --background: #1e1e1e;
  --background-panel: #2C2C2E;
  --background-element: #1e1e1e;
  --foreground: #D9DAEC;
  --foreground-muted: #7c7d8d;
  --border: #2C2C2E;
  --border-active: #2C2C2E;
  --primary: #83A598;
  --secondary: #8EC07C;
  --accent: #FABD2F;
  --error: #CC241D;
  --warning: #af3b02;
  --success: #B8BB26;
  --info: #458588;
  --selection-background: #7c7d8d;
  --selection-foreground: #D9DAEC;
  --cursor: #D9DAEC;
  --syntax-comment: #7c7d8d;
  --syntax-keyword: #CC241D;
  --syntax-function: #8EC07C;
  --syntax-method: #8EC07C;
  --syntax-string: #B8BB26;
  --syntax-number: #bb627a;
  --syntax-type: #FABD2F;
  --syntax-variable: #83A598;
  --syntax-operator: #8EC07C;
  --syntax-punctuation: #cec7ba;
}

:root[data-theme="light"] {
  --background: #ffffff;
  --background-panel: #f4f4f9;
  --background-element: #ffffff;
  --foreground: #101316;
  --foreground-muted: #7c7d8d;
  --border: #D1D1D6;
  --border-active: #7c7d8d;
  --primary: #5F8F8E;
  --secondary: #5A8D60;
  --accent: #C99824;
  --error: #a2261f;
  --warning: #C36A10;
  --success: #8B9120;
  --info: #4F7F83;
  --selection-background: #7c7d8d;
  --selection-foreground: #101316;
  --cursor: #050607;
  --syntax-comment: #7c7d8d;
  --syntax-keyword: #a2261f;
  --syntax-function: #5A8D60;
  --syntax-method: #5A8D60;
  --syntax-string: #8B9120;
  --syntax-number: #AD6E88;
  --syntax-type: #C99824;
  --syntax-variable: #5F8F8E;
  --syntax-operator: #6FA05A;
  --syntax-punctuation: #33302e;
}
